TEST_PRIVATE_KEY=
GAS_PRICE=70
NETWORK_ID=80001
GOERLI_SCAN_APIKEY=
GOERLI_NETWORK=https://eth-goerli.g.alchemy.com/v2/HhfUvZcf0a63Gtt9Nt9hFc7fkJMNlLTm
POLYGON_NETWORK=https://goerli.infura.io/v3/4cac7192e56f4150b960528b88002af6
PRIVATE_KEY=
LOCALHOST_NETWORK=http://localhost:8545
MUMBAI_SCAN_APIKEY=
MUMBAI_NETWORK=https://polygon-mumbai.g.alchemy.com/v2/uUD8RRStHjBKhWDbT86HKVS4SVDw12jF
ETHERSCAN_API_KEY=
POLYGON_SCAN_APIKEY=
